@font-face {
  font-family: 'XCOM';
  src: url('./fonts/Coalition_v2.ttf') format('truetype');
}

@font-face {
  font-family: 'Techno';
  src: url('./fonts/techno_hideo.ttf') format('truetype');
}

.App {
  font-family: 'XCOM';
  letter-spacing: 3px;
  color: #bafaff;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  background-color: #293c49;
  background: #293c49; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #293c49 , black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #293c49, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #293c49, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #293c49 , black); /* Standard syntax */
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

p {
  margin: 0px;
}

.cost-ok {
  color: #77fc6f;
}

.cost-error {
  color: red;
}

.title {
  font-family: 'Techno';
  color: #bafaff;
  text-shadow: 0px 8px 5px black;
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom-width: 5px;
  border-color: #111;
  font-size: 85px;
  letter-spacing: 5px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  background-color: #293c49;
  background: #293c49; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, #293c49 , black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #293c49, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #293c49, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #293c49 , black); /* Standard syntax */
}

.main-area {
  height: 725px;
  background-color: #293c49;
  background: #293c49; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #293c49 , black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #293c49, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #293c49, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #293c49 , black); /* Standard syntax */
}

.game-area {
  height: 540;
  width: 960px;
  border-radius: 45px 45px;
  border-left: 10px solid #bafaff;
  border-right: 10px solid #bafaff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#game-area-contents {
  position: absolute;
  padding-top: 10px;
  padding-right: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  width: 960px;
  height: 540px;
  max-width: 1850px;
  font-size: 24px;
}

.game-area-image-container {
  position: relative;
  overflow: hidden;
  height: 540px;
}

#game-area-image {
  margin-left: auto;
	margin-right: auto;
	display: block;
  position: absolute;
  width: auto;
  height: 540px;
  opacity: 0.4;
  z-index: -1;
}

.resources {
  font-size: 18px;
}

#roster-title {
  font-family: 'Techno';
  font-size: 60px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
}

#debriefing-operation {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
}

#roster-container {
  padding-left: 50px;
}

.roster-header {
  font-family: 'Techno';
  font-weight: normal;
  font-size: 30px;
}

.roster-entry {
  font-size: 12px;
  margin: 0px;
  margin-left: 10px;
}

.soldier-line.max-deployed:hover {
  color: red;
}

.soldier-line.max-deployed:active {
  background-color: red;
}

thead {
  padding: 0px;
  margin: 0px;
}

#roster-table{
    width: 890px;
}

#deployment-table {
  width: 400px;
}

td {
  text-align: left;
}

.hostiles {
  height: 150px;
  overflow: hidden;
  text-align: center;
  background-color: #293c49;
  background: #293c49; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #293c49 , black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #293c49, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #293c49, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #293c49 , black); /* Standard syntax */
}

.visible-alien-container {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.visible-alien {
  height: 100px;
  width: auto;
}

.alien-info {
  text-align: center;
  font-size: 16px;
  font-family: 'Techno';
}

.mission-area {
  position: absolute;
  width: 100%;
  max-width: 2560px;
  height: 800px;
  overflow: hidden;
  background-color: black;
  border-top-width: 10px;
  border-color: #bafaff;
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.mission-area img {
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#mission-title {
  position: relative;
  font-family: 'Techno';
  text-shadow: 0px 8px 5px black;
  text-align: center;
  font-size: 70px;
  width: 100%;
}

#mission-area-contents {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 540px;
  max-width: 1850px;
  font-size: 24px;
  z-index: 2;
  padding-left: 50px;
}

#mission-area-image {
	display: block;
  bottom: 150px;
  position: relative;
  width: 100%;
  max-width: 2560px;
  height: auto;
  opacity:0.6;
  z-index: 1;
}

#pending-spinner {
  padding-top: 50px;
}

#next-operation {
  text-align: left;
  font-size: 30px;
  padding-top: 30px;
  line-height: 30px;
}

#operation-name {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.green-deploy {
  font-size: 30px;
  color: #77fc6f;
}

.yellow-deploy {
  font-size: 30px;
  color: yellow;
}

.red-deploy {
  font-size: 30px;
  color: red;
}

.difficulty {
  font-size: 20px;
}

.easy-mission {
  color: #77fc6f;
}

.moderate-mission {
  color: yellow;
}

.difficult-mission {
  color: red;
}

.very-difficult-mission {
  color: darkred;
}

.healthy {
  color: #77fc6f;
}

.wounded {
  color: yellow;
}

.gravely-wounded {
  color: orange;
}

.dead {
  color: red;
}

.mission-soldier-row {
  padding-bottom: 20px;
  font-size: 15px;
}

.mission-soldier {
  text-align: left;
  width: 350px;
}

.soldier-info {
  width: 350px;
  font-size: 12px;
  text-align: left;
}

.soldier-actions {
  font-size: 30px;
}

.ability {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  font-size: 20px;
}

.ability:hover {
  color: #77fc6f;
  text-shadow: 0px 0px 50px black;
  cursor: pointer;
}

.ability:active {
  color: black;
  text-shadow: 0px 0px 5px #77fc6f;
  cursor: pointer;
}

.ability-info {
  font-size: 12px;
  text-align: center;
}

.fire {
  width: 100px;
  text-align: center;
}

.overwatch {
  width: 100px;
  text-align: center;
}

.hunker {
  width: 200px;
  text-align: center;
}

.grenade {
  width: 200px;
  text-align: center;
}

.move-1 {
  width: 100px;
  text-align: center;
}

.move-2 {
  width: 100px;
  text-align: center;
}

#deployment-selection {
  font-size: 12px;
  margin: 0px;
}

#deployment-title {
  font-family: 'Techno';
  font-size: 30px;
}

.soldier-line {
  text-align: center;
  text-shadow: 0px 0px 5px cyan;
  background: rgba(0,0,0,0.2);
  padding: 30px;
  width: 100%;
  height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.soldier-line:hover {
  color: #77fc6f;
}

.soldier-line:active {
  background-color: #77fc6f;
  color: black;
}

.welcome {
  cursor: default;
  padding-top: 25px;
  text-align: center;
  font-size: 30px;
  height: 75px;
  text-shadow: 0px 8px 5px black;
}

.icon-button {
  top: 5px;
  cursor: pointer;
  margin-left: 25px;
  outline:dashed;
  outline-offset: 2px;
  outline-width: 1px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.icon-button:hover {
  color: #77fc6f;
}

#reset-cancel {
  outline: none;
  margin-left: 0px;
  padding-left: none;
  font-size: 30px;
  left: none;
  right: none;
}

#reset-text {
  color: #77fc6f;
}

#reset-confirm {
  outline: none;
  margin-left: 0px;
  padding-right: none;
  font-size: 30px;
}

#identify {
  background-color: black;
  text-indent: 20px;
  width: 800px;
  line-height: 100%;
}

:hover::-webkit-input-placeholder {
    color: #77fc6f;
    background-color: #19252d;
}

/* Firefox < 19 */
:hover:-moz-placeholder {
    color: #77fc6f;
    background-color: #19252d;
}

/* Firefox > 19 */
:hover::-moz-placeholder {
    color: #77fc6f;
    background-color: #19252d;
}

/* Internet Explorer 10 */
:hover:-ms-input-placeholder {
    color: #77fc6f;
    background-color: #19252d;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #293c49;
}
::-moz-placeholder { /* Firefox 19+ */
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #293c49;
}
:-ms-input-placeholder { /* IE 10+ */
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #293c49;
}
:-moz-placeholder { /* Firefox 18- */
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #293c49;
}

.side-menu {
  height: 650px;
  padding-top: 0px;
  padding-bottom: 100px;
}

.col-sm-3.side-menu-right {
  left: 20px;
  width: 450px;
}

.side-menu-right tr {
  font-size: 12px;
}

#reset {
  color: red;
}

#evac {
  color: red;
}

.col-sm-6.side-logo {
  padding-top: 0px;
  height: 650px;
  z-index: 0;
  padding-bottom: 100px;
  width: 960px;
}

#xcom-alpha-logo {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.side-option {
  text-align: center;
  text-shadow: 0px 0px 5px cyan;
  border-radius: 45px 45px;
  border-left: 10px solid #555;
  border-right: 10px solid #555;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  background: #111;
  padding: 30px;
  width: 100%;
  height: 20px;
  margin-bottom: 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.side-option p {
  width: 100%;
  position: relative;
  bottom: 10px;
  font-size: 16px;
}

.side-option:hover {
  border-left: 10px solid #bafaff;
  border-right: 10px solid #bafaff;
  color: #77fc6f;
}

.side-option:active {
  background-color: #77fc6f;
  color: black;
  border-left: 10px solid black;
  border-right: 10px solid black;
}

.side-option-disabled {
  text-align: center;
  text-shadow: 0px 0px 1px rgba(0, 200, 200, 1);
  border-radius: 45px 45px;
  border-left: 10px solid #222;
  border-right: 10px solid #222;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  background: #111;
  padding: 30px;
  width: 80%;
  height: 20px;
  margin-bottom: 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.side-option-disabled p {
  width: 100%;
  position: relative;
  bottom: 10px;
  font-size: 16px;
  color: #333;
}

.side-option-disabled:hover {
  background-color: #200;
  border-left: 10px solid #411;
  border-right: 10px solid #411;
}

.App-header {
  text-align: center;
  background-color: black;
  height: 210px;
  padding: 0px;
  background-image: url("./img/XCOM_2_logo_static.jpg");
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
}
